.banner{
color: hotpink;
background-color: skyblue;
height: 200px;
width: 400px;
margin: 25px;
padding:25px;
text-align: center;
text-transform: capitalize;
outline-style: double;
margin: auto;
text-align: center;
border: 4px solid black;

}
.btn{
color: gold;
background-color: indianred;
padding: 5px;
border:2px solid black;
text-transform: capitalize;
}
.hero{
background-image: url(city.jpg);
height: 100%;
width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html {
    height: 100%;
  }
.modal-overlay{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(red, green, blue);
    display: grid;
    transition: var(--transition);
    z-index: -10;
}
.open-modal{
    z-index: 10;
    visibility: visible;
}
  