h1{
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 30px;
    color: goldenrod;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-style: oblique;
}
.plus-icon{
    border: 1px solid black;
    color: goldenrod;
    
    margin: 10px;
}
.minus-icon{
    border: 1px solid black;
    color: goldenrod;
}
.question-text p{
margin-bottom: 0;
}
.question-text {
    display: none;
}
.show-text .question-text{
    display: block;
}
.minus-icon{
    display: none;
}
.show-text .plus-icon{
    display: none;
}
.show-text .minus-icon{
    display: inline;
}