.container{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90%;
    padding: 30px;
    width: 500px;
    height: 30px;
    height: fit-content;
    margin: auto;
    background-color: skyblue;
    border: 2px solid black;
    text-transform: uppercase;
}
.nav-center{
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90%;
    padding: 50px;
    height: fit-content;
    margin: auto;
    text-align: center;   
}
.nav-links{
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
    list-style-position: inside;
}  
#btn{
    font-size: 90%;
    color: red;
    padding: 5px;
    height: 90%;
    margin: auto;
    width: 80px;
    height: 45px;
    background-color: yellowgreen;
    border: 2px solid black;
    text-align: center;  
    shape-outside: round;
}